In [1]:
import pandas as pd

df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop(['salary_more_then_100k'], axis=1)
target = df['salary_more_then_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['company_le'] = le_company.fit_transform(inputs['company'])
inputs['job_le'] = le_company.fit_transform(inputs['job'])
inputs['degree_le'] = le_company.fit_transform(inputs['degree'])

inputs.head()

  company                  job     degree  company_le  job_le  degree_le
0  google      sales executive  bachelors           2       2          0
1  google      sales executive    masters           2       2          1
2  google     business manager  bachelors           2       0          0
3  google     business manager    masters           2       0          1
4  google  computer programmer  bachelors           2       1          0

In [9]:
inputs_le = inputs.drop(['company','job','degree'],axis=1)

In [10]:
from sklearn import tree

In [11]:
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_le,target)

DecisionTreeClassifier()

In [13]:
model.score(inputs_le,target)

1.0

In [14]:
model.predict([[2,2,1]])

array([0], dtype=int64)