## One Hot Encoding

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
#Lets see how many labels each variables has

for col in df.columns:
    print(col, ':', len(df[col].unique()), 'labels')

company : 3 labels
job : 3 labels
degree : 2 labels
salary_more_then_100k : 2 labels

In [5]:
#Let' see how many columns we obtain if we perform one hot encoding
pd.get_dummies(df).shape

(16, 9)

### One Hot Encoding with multiple labels of a category

In [10]:
df.company.value_counts().sort_values(ascending=False).head()

facebook      6
google        6
abc pharma    4
Name: company, dtype: int64

In [15]:
#taking top 2
top_2 = [x for x in df.company.value_counts().sort_values(ascending=False).head(2).index]
top_2

['facebook', 'google']

In [17]:
#now we encode/label top 2 categories
for label in top_2:
    df[label] = np.where(df['company']==label, 1,0 )

df[['company'] + top_2].head(40)

       company  facebook  google
0       google         0       1
1       google         0       1
2       google         0       1
3       google         0       1
4       google         0       1
5       google         0       1
6   abc pharma         0       0
7   abc pharma         0       0
8   abc pharma         0       0
9   abc pharma         0       0
10    facebook         1       0
11    facebook         1       0
12    facebook         1       0
13    facebook         1       0
14    facebook         1       0
15    facebook         1       0

### Count/Frequency Encoding

Handling high cardinality

One approach is to replace each label of that categorical variable by its count that is the amount of times each label appears in the dataset.

In [19]:
df = pd.read_csv('salaries.csv')

In [20]:
for col in df.columns[0:]:
    print(col,':', len(df[col].unique()), 'labels')

company : 3 labels
job : 3 labels
degree : 2 labels
salary_more_then_100k : 2 labels

In [22]:
df_freq_map = df.company.value_counts().to_dict()

In [24]:
df.company = df.company.map(df_freq_map
)
df.head()

   company                  job     degree  salary_more_then_100k
0        6      sales executive  bachelors                      0
1        6      sales executive    masters                      0
2        6     business manager  bachelors                      1
3        6     business manager    masters                      1
4        6  computer programmer  bachelors                      0

### Ordinal Encoding