<a href="https://colab.research.google.com/github/shrish83/Python-Basics/blob/master/Case_Study_CoronoVirus_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Case Study - CoronoVirus Dataset**

### A common perception about Covid-19 is that Warm Climate is more reistant to covid outbreak and we verify this using Hypothesis Testing.



*   H0: Temperature doesn't affect Covid-19 Outbreak
*   H1: Temperature affects Covid-19 Outbreak

***We are considering Temperature below 24 as Cold Climate and above 24 as Hot Climate.***

### Loading Packages and Dataset

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/Corona_Updated.csv')
df_ori = df.copy()

In [3]:
df.shape

(206, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  99 non-null     object
 1   Country/Region  206 non-null    object
 2   Last Update     206 non-null    object
 3   Confirmed       206 non-null    int64
 4   Deaths          206 non-null    int64
 5   Recovered       206 non-null    int64
 6   Latitude        206 non-null    float64
 7   Longitude       206 non-null    float64
 8   Temprature      206 non-null    float64
 9   Humidity        206 non-null    int64
 10  Temp_Cat        206 non-null    int64
 11  Humid_Cat       206 non-null    int64
dtypes: float64(3), int64(6), object(3)
memory usage: 19.4+ KB

In [5]:
df.head()

  Province/State              Country/Region  ... Temp_Cat  Humid_Cat
0          Hubei              Mainland China  ...        1          1
1            NaN                       Italy  ...        1          1
2            NaN  Iran (Islamic Republic of)  ...        0          0
3            NaN           Republic of Korea  ...        0          0
4            NaN                      France  ...        0          0

[5 rows x 12 columns]

*Temperature in Temp_Cat is 0 if it is less than 24 else 1*

In [6]:
df_new = df[['Confirmed','Temp_Cat']]
df_new.head()

   Confirmed  Temp_Cat
0      67760         1
1      10149         1
2       8042         0
3       7513         0
4       1784         0

### Using two sample z-test comparing temperatures above and below 24

In [7]:
def TwoSampZ(X1,X2,sigma1,sigma2,N1,N2):
  from numpy import sqrt, abs, round
  from scipy.stats import norm
  sig = sqrt(sigma1**2/N1 + sigma2**2/N2)
  z = (X1-X2)/sig
  p_val = 2*(1-norm.cdf(abs(z)))
  return z, p_val

In [9]:
#Confirmed Cases when Temp > 24
confirm_1 =  df_new[df_new['Temp_Cat']==1]['Confirmed']
#Confirmed Cases when Temp < 24
confirm_0 =  df_new[df_new['Temp_Cat']==0]['Confirmed']

In [10]:
m1, m2 = confirm_1.mean(), confirm_0.mean()
sd1, sd2 = confirm_1.std(), confirm_0.std()
n1, n2 = confirm_1.shape[0], confirm_0.shape[0]

In [11]:
z, p = TwoSampZ(m1,m2,sd1,sd2,n1,n2)
z_val = np.round(z,8)
p_val = np.round(z,6)

In [17]:
if p_val<0.05:
  print(p_val,'Status: Reject H0 : Significant')
else:
  print(p_val,'Status: Fail to Reject H0 : Not Significant')

0.896174 Status: Fail to Reject H0 : Not Significant

## Thus, we fail to reject H0 that is we do not have enough evidence to say that Climate affects Covid-19 Outbreak.