In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("booking_train_set.csv", index_col=0)
data.shape

(1166835, 9)

In [3]:
data.head(10)

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
0,1006220,2016-04-09,2016-04-11,31114,desktop,384,Gondal,Gondal,1006220_1
1,1006220,2016-04-11,2016-04-12,39641,desktop,384,Gondal,Gondal,1006220_1
2,1006220,2016-04-12,2016-04-16,20232,desktop,384,Gondal,Glubbdubdrib,1006220_1
3,1006220,2016-04-16,2016-04-17,24144,desktop,384,Gondal,Gondal,1006220_1
4,1010293,2016-07-09,2016-07-10,5325,mobile,359,The Devilfire Empire,Cobra Island,1010293_1
5,1010293,2016-07-10,2016-07-11,55,mobile,359,The Devilfire Empire,Cobra Island,1010293_1
6,1010293,2016-07-12,2016-07-13,23921,mobile,359,The Devilfire Empire,Cobra Island,1010293_1
7,1010293,2016-07-13,2016-07-15,65322,desktop,9924,The Devilfire Empire,Cobra Island,1010293_1
8,1010293,2016-07-15,2016-07-16,23921,desktop,9924,The Devilfire Empire,Cobra Island,1010293_1
9,1010293,2016-07-16,2016-07-17,20545,desktop,10573,The Devilfire Empire,Cobra Island,1010293_1

In [4]:
data.tail()

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
1166830,999261,2016-09-13,2016-09-15,14197,tablet,10332,Gondal,Fook Island,999261_1
1166831,999755,2016-12-13,2016-12-16,4476,desktop,2661,The Devilfire Empire,Gondal,999755_1
1166832,999755,2016-12-16,2016-12-17,1034,desktop,7974,The Devilfire Empire,Gondal,999755_1
1166833,999755,2016-12-22,2016-12-25,64876,desktop,7974,The Devilfire Empire,Fook Island,999755_1
1166834,999755,2016-12-25,2016-12-28,9608,desktop,9924,The Devilfire Empire,Fook Island,999755_1

In [5]:
data.columns

Index(['user_id', 'checkin', 'checkout', 'city_id', 'device_class',
       'affiliate_id', 'booker_country', 'hotel_country', 'utrip_id'],
      dtype='object')

In [6]:
#Find columns with Nans 
print("Columns with missing value: ")
print(data.columns[data.isnull().any()].tolist())

Columns with missing value:
[]

In [7]:
print(data.isnull().sum())

user_id           0
checkin           0
checkout          0
city_id           0
device_class      0
affiliate_id      0
booker_country    0
hotel_country     0
utrip_id          0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1166835 entries, 0 to 1166834
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   user_id         1166835 non-null  int64
 1   checkin         1166835 non-null  object
 2   checkout        1166835 non-null  object
 3   city_id         1166835 non-null  int64
 4   device_class    1166835 non-null  object
 5   affiliate_id    1166835 non-null  int64
 6   booker_country  1166835 non-null  object
 7   hotel_country   1166835 non-null  object
 8   utrip_id        1166835 non-null  object
dtypes: int64(3), object(6)
memory usage: 89.0+ MB

In [9]:
print("Unique Vaue Count: ")
cols = data.columns.tolist()
for col in cols:
    print(col+ " = " + str(len(data[col].unique())))

Unique Vaue Count:
user_id = 200153
checkin = 425
checkout = 425
city_id = 39901
device_class = 3
affiliate_id = 3254
booker_country = 5
hotel_country = 195
utrip_id = 217686

In [10]:
data.describe()

            user_id       city_id  affiliate_id
count  1.166835e+06  1.166835e+06  1.166835e+06
mean   3.129535e+06  3.347059e+04  5.719503e+03
std    1.808045e+06  1.958255e+04  3.964435e+03
min    2.900000e+01  2.000000e+00  5.000000e+00
25%    1.562185e+06  1.701300e+04  9.340000e+02
50%    3.126222e+06  3.228200e+04  6.309000e+03
75%    4.701432e+06  5.112800e+04  9.924000e+03
max    6.258087e+06  6.756500e+04  1.069700e+04

In [11]:
ax = sns.barplot(x="booker_country", y="hotel_country", data=data)
print(ax)

TypeError: Neither the `x` nor `y` variable appears to be numeric.