Lists: stores mix type of data in sequential format 
separated by commas and  enclosed in square vbrackets.; are mutable,changeable,orderwed/sequential.

In [1]:
l = [1,'Python',2,True]
l[2]

2

In [2]:
l[1:4]

['Python', 2, True]

In [3]:
l[-1]

True

In [4]:
#add single element
l.append('456')
l

[1, 'Python', 2, True, '456']

In [5]:
#add multiple elements
l.append([9,34,False])
l

[1, 'Python', 2, True, '456', [9, 34, False]]

In [8]:
#extend a list
l.extend([67,98])
l

[1, 'Python', 2, True, '456', [9, 34, False], 67, 67, 98]

In [11]:
#delete element 67
l.remove(67)
l

['Python', 2, True, '456', [9, 34, False], 67, 98]

In [12]:
#delete element at index 6
del l[6]

In [13]:
l

['Python', 2, True, '456', [9, 34, False], 67]

In [15]:
#looping
for i in l:
    print(i)

Python
2
True
456
[9, 34, False]
67

Disctionaries: Stores mix type of data in unordered format; key value pairs in curly braces

In [16]:
d = {'Ramesh': 150,'Sureah':83,'Danish': 137}  #key:value
d['Ramesh']

150

In [17]:
#add single
d['Shalini'] = 738
d

{'Ramesh': 150, 'Sureah': 83, 'Danish': 137, 'Shalini': 738}

In [18]:
#add multiple
d.update({'Dincy':233,'Paridhi':147})
d

{'Ramesh': 150,
 'Sureah': 83,
 'Danish': 137,
 'Shalini': 738,
 'Dincy': 233,
 'Paridhi': 147}

In [21]:
#delete
del d['Sureah']
d

{'Ramesh': 150, 'Danish': 137, 'Shalini': 738, 'Dincy': 233, 'Paridhi': 147}

NESTED DICTIONARIES

In [7]:
mod1 = {'Mercedes':1960}
mod2 = {'Audi':1970}
mod3 = {'Ambassador':1980}

models = {'car1':mod1,'car2':mod2,'car3':mod3}
models

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

SETS

unordered collection, iterable,mutable and has no duplicat elements...based on a data sructure as a hash table

In [2]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
 set_var = {"abs","max","min"}
 set_var

{'abs', 'max', 'min'}

In [4]:
 set_var = {"abs","max","min","min"}
 set_var

{'abs', 'max', 'min'}

In [6]:
set_var.add("mnb")
set_var

{'abs', 'max', 'min', 'mnb'}

TUPLES  ::: Non Mutable

In [8]:
t = ('A','B','C')
print(t)
print(type(t))

('A', 'B', 'C')
<class 'tuple'>